<% para_all.each_with_index do |paragraph,index| %>
    <div id="<%= "feature_#{index+1}"%>">
      <div class="ind"><%= index+1 %></div>
      <% if paragraph.title.present? %>
          <h3><%= paragraph.title %></h3>
      <% end %>
      <div class="cnt"><%= paragraph.content.html_safe %></div>
    </div>
<% end %>
